<section class="main_blog">

  <div class="row">


             <div class="col-lg-6">
              <div >
                <img src="assets/images/landing/blog.jpg" class="blog_img" alt="...">
              </div>
             </div>
             <div class="col-lg-6">
              <div class="card">
               <div class="card-body">
                   <p class="card-text mt-1 mb-2 section_pragraph text-gray">21 غشت 2022</p>
                   <h5 class="card-title section_title" style="line-height: 179.5% !important" [routerLink]="['/blogs/2']">هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم،</h5>
                   <p class="card-text mb-2 section_pragraph text-gray_dark" style="font-size: 20px !important;">هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص..</p>
                   <p class="card-text r"><small class="text-muted "><img src="assets/images/landing/blog.jpg" alt=""> Jaxson Vetrovs</small></p>
                 </div>
              </div>
             </div>
           </div>




</section>

