<section class="loader_bar">
  <div class="row">
    <div id="loader">
        <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="loading"></div>

    </div>
  <div class="text">
    <h6 class="m-0 mb-3 text-primary"> Loading </h6>
    <p class="text-gray"> Please Wait</p>
  </div>
  </div>
</section>
