.center_sign{
  padding: 200px 0px 80px;
  min-height: 1000px;

  img {
    width: 100%;
    padding: 0px 50px;
  }

  .show_password{
      position: absolute;
      left: 30px;
      top:40%;
      cursor: pointer;
  }
}


