.blogs{
  .blogs_toggle{
      ul{
          border: none;
          padding-right: 0;
          li{

.nav-link{
  background: #F8F7FF;
  border: 0.5px solid #E1E1E1;
  border-radius: 23px;
  margin-left:10px ;
  font-family: 'Tajawal';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 105.5%;
letter-spacing: -0.065em;
color: #898989;

}
.active{
  color: #6246EA;
  background: #E7E2FF;
}
          }
      }
  }
}
