<section class="related_blogs">
  <h3>مقالات مشابهة</h3>
  <div class="row">
      <div class="col-lg-4">
          <div class="card mb-4" >
              <img src="assets/images/landing/blog.jpg" class="blog_img" alt="...">
              <div class="card-body">
                  <p class="card-text mb-0">21 غشت 2022</p>
                  <h5 class="card-title">هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم،</h5>
                  <p class="card-text mb-0">هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص..</p>
                  <p class="card-text"><small class="text-muted"><img src="assets/images/landing/blog.jpg" alt=""> Jaxson Vetrovs</small></p>
                </div>
            </div>
      </div>
      <div class="col-lg-4">
          <div class="card mb-4" >
              <img src="assets/images/landing/blog.jpg" class="blog_img" alt="...">
              <div class="card-body">
                  <p class="card-text mb-0">21 غشت 2022</p>
                  <h5 class="card-title">هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم،</h5>
                  <p class="card-text mb-0">هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص..</p>
                  <p class="card-text"><small class="text-muted"><img src="assets/images/landing/blog.jpg" alt=""> Jaxson Vetrovs</small></p>
                </div>
            </div>
      </div>
      <div class="col-lg-4">
          <div class="card mb-4" >
              <img src="assets/images/landing/blog.jpg" class="blog_img" alt="...">
              <div class="card-body">
                  <p class="card-text mb-0">21 غشت 2022</p>
                  <h5 class="card-title">هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم،</h5>
                  <p class="card-text mb-0">هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص..</p>
                  <p class="card-text"><small class="text-muted"><img src="assets/images/landing/blog.jpg" alt=""> Jaxson Vetrovs</small></p>
                </div>
            </div>
      </div>

  </div>
</section>
