<section class="choose_sign_in text-center">
  <div class="container">
    <div class="sign_in_form_img" >
      <img src="assets/images/landing/sign-in.png" alt="" style="width:130px ;height:150px">
      <h6 class="text-black section_pragraph mt-4 mb-3 "style='font-weight:700'>
        تسجيل الدخول
      </h6>
      <p class="text-gray carousel_p mb-4" style="font-size: 17px !important; width: 90%; margin: 0 auto;">
        لا يتم فرض رسوم في الفترة التجريبية، وعند انتهاء المدة، يتم الاشتراك أو إلغاء التسجيل
      </p>
  <div class="form">
    <div class="mb-3 ">
      <button class="btn bg-green text-primary w-100 center-btn"  (click)="  center()">تسجيل الدخول كمركز</button>
    </div>
    <div class="mb-3 ">
      <button class="btn bg-primary text-white w-100 trainer-btn"  (click)="  coach()">تسجيل الدخول كمدرب</button>
    </div>
  </div>
    </div>
  </div>
</section>
