.footer{
  background-image: url('../../../assets/images/landing/footer_bg.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 .footer_box{
a , p{
  font-weight: 500;
  font-size: 24px !important;
  letter-spacing: -0.065em;
  color: #161616;
}
  padding: 60px 0px;
  .footer_right{
      .footer_right_menu{
          list-style: none;
          padding: 0;
          li{
            a{
              display: inline-block;
  line-height: 209% !important;

            }
          }
      }
  }
  .footer_center{
      .footer_center_menu{
          list-style: none;
          padding: 0;
          li{
            p{
              font-family: 'Poppins' !important;
              font-weight: 400;
              line-height: 179.5% !important;

            }
          }
      }
  }
  .footer_left{
      p{
          font-family: 'Tajawal';
          font-style: normal;
          font-weight: 500;
          line-height: 43px !important;

          /* or  */
      }
ul{
  list-style: none;
          padding: 0;
          display: flex;
          li{
              svg{
                  margin-left: 10px
              };
          }
}
  }
 }


}
